* {
    border: none;
    border-radius: 5px;
    font-family: Helvetica, Arial, sans-serif;
	color: #565f89;
    font-size: 18px;
    min-height: 0;
}

.modules-left {
	margin: 10px;
}

window#waybar {
	background: rgba(26, 27, 38, 0.5);
	color: white;
}

tooltip {
  background: rgba(43, 48, 59, 0.9);
  border: 1px solid rgba(100, 114, 125, 0.9)
}

tooltip label {
  color: white;
}

#workspaces button {
    padding: 0 10px;
    background: transparent;
    color: white;
    border-bottom: 0px;
}

#workspaces button.focused {
    background: #9aa5ce;
    border-bottom: 0px;
}

#mode, #battery {
    padding: 0 4px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#custom-wx {
	padding: 0 6px;
	font-family: mono;
	font-weight: 600;
	/* background: rgba(41, 35, 80, 0.5); */
}

#custom-wx.vfr {
	color: #9ece6a;
}

#custom-wx.mvfr {
    color: #0080ff;
}

#custom-wx.ifr {
    color: #ff0000;
}

#custom-wx.lifr {
    color: #ff00ff;
}

#clock {
	/* color: #7dcfff; */
	color: #9aa5ce;
	font-size: 32px;
	font-weight: 700;
    padding: 0 15px;
}

#clock.date, #custom-zulu {
	color: #565f89;
    padding: 0 15px;
	font-family: mono;
	font-size: 22px;
	font-weight: 400;
}

#load {
	padding: 0 5px;
}

#network {
	font-size: 24px;
	color: #9ece6a;
	padding: 0 15px 0 10px;
}

#network.disconnected {
	color: #d42727;
}

#memory {
	padding: 0 15px;
}

#pulseaudio {
	color: #9aa5ce;
    padding: 0 5px;
}

#pulseaudio-slider {
    padding: 0 15px;
    margin: 0;
}

#pulseaudio-slider slider {
    min-height: 0px;
    min-width: 0px;
    opacity: 0;
    background-image: none;
    border: none;
    box-shadow: none;
}
#pulseaudio-slider trough {
    min-height: 20px;
    min-width: 5px;
    border-radius: 1px;
    /* background: #ff0000; */
    background: rgba(65, 72, 104, 0.65);
}
#pulseaudio-slider highlight {
    min-width: 0px;
    border-radius: 0px;
    background: #9aa5ce;
}

#battery {
    background-color: #ffffff;
    color: black;
}

#battery.charging {
    color: white;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: black;
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: white;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
